<ul class="container header__container">
    <li class="header__item">
        {{> logo}}
    </li>
    <li class="header__item">
        {{> menu-mob}}
    </li>
    <li class="header__item">
        {{> site-nav}}
    </li>
    <li class="header__item">
        {{> contacts}}
    </li>
</ul>