<section class="hero">
    <div class="hero__container">
        <h1 class="hero__title">Эффективные решения для вашего бизнеса</h1>
        <button class="button hero__button" data-modal-open type="button">Заказать услугу</button>
    </div>
    {{> modal}}
</section>