<div class="container">
    <ul id="filter" class="sorting">
        {{#each data.portfolio-btn}}
        <li class="sorting__item"><button class="button sorting__button" type="button">{{this}}</button></li>
        {{/each}}
    </ul>
</div>