<main>
    <!-- Герой -->
    {{> hero}}
    <!-- Особенности -->
    <section class="section">
        {{> advantages}}
    </section>
    <!-- Примеры работ -->
    <section class="section section--pad-top section--hidden">
        {{> examples}}
    </section>
    <!-- Наша команда -->
    <section class="section section--bg-color">
        {{> team}}
    </section>
    <!-- Наши клиенты -->
    <section class="section">
        {{> clients}}
    </section>
</main>