<main>
    <section class="section">
        <h1 class="section__title section__title--hidden">Портфолио</h1>
        <ul class="section__list">
            <li class="section__item">
                {{> portfolio-btn}}
            </li>
            <li class="section__item">
                {{> portfolio-works}}
            </li>
        </ul>
    </section>
</main>